.footerbackground{
    width: 100%;
    background-color: #d4d3d3;
}

.logo{
    height: 20vh;
    width: 20vh;
}

.FooterlinkNav{
text-align: center;
}
.FooterLink{
    text-decoration: none;
    color: black;
    width: 30%;
    margin-left: 3%;
}
.FooterLink:hover{
    color: darkviolet;
}