footer{
    width: 100%;
    display: table;
}

.FooterlinkNav{
text-align: center;
}
.FooterLink{
    text-decoration: none;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
}
.FooterLink:hover{
    color: darkviolet;
}