.headerbackground{    
    background-color: #d4d3d3;
    height: 15vh;
}
.navbar {
height: 15vh!important;

}

.nav {
    margin-top: -5vh;
    padding-right: 1vh;
    text-decoration: none;
    color: black;
}
.logo{
    height: 10vh;
    width: 10vh;
}
.nav:hover {
    color: darkviolet;
}

@media screen and (max-width: 48rem) and (min-width: 28rem) {
    .nav {
        margin: 5%;
    }
}

@media screen and (max-width: 28rem) {
    .headerbackground{    
        background-color: #d4d3d3;
        height: 25vh;
    }
    .logo-nav {
        margin-left: 45%;
    }

    .nav {
        margin-top: 1vh;
        margin-left: 50%;
        width: 100%;
    }
}