.ProfileSection {
    background-color: #d4d3d3;
    height: 100vh;
    .profilecard {
        height: 100%;
        background-color: white;
        border-radius: 10px;
        width: 100vh;
        padding: 20px;
        border:none;
    }
    .form-control {
        width: 100%;
    }
}



.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-height: 44.5em; 
}


