.header {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.header-logo {
  margin-right: auto; 
}

.header-nav {
  margin-left: auto; 
}

.header-nav-ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.header-nav-ul li {
  margin: 20px 20px; 
}

.header-nav-ul li :nth-of-type(1) {
  color: white;
  text-decoration: none;
}