@import url("https://fonts.googleapis.com/css2?family=BioRhyme");

$primary-color: #4a148c;

.section {
  font-family: "BioRhyme", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: #d4d3d3;
  border-radius: 10px;
  width: fit-content; /* Adjust the width as needed */
  padding: 20px;
  overflow: hidden; /* Hide any content that overflows */
}

.card {
  width: 100%; /* Card fills its container */
  border: none;
}

.account {
  font-weight: 500;
  font-size: 17px;
}

.contact {
  font-size: 13px;
}

.form-control {
  text-indent: 14px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $primary-color;
  outline: 0;
  box-shadow: none;
}

.inputbox {
  margin-bottom: 10px;
  position: relative;
}

.inputbox i {
  position: absolute;
  left: 8px;
  top: 12px;
  color: #dadada;
}

.form-check-label {
  font-size: 13px;
}

.form-check-input {
  width: 14px;
  height: 15px;
  margin-top: 5px;
}

.forgot {
  font-size: 14px;
  text-decoration: none;
  color: $primary-color;
}

.mail {
  color: $primary-color;
  text-decoration: none;
}

.form-check {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.icon {
  color: $primary-color;
  text-shadow: 0 0 20px rgba(74, 20, 140, 0.8);
}

.error-message {
  font-weight: 900;
  color: red;
}

.admin-moderator-container {
  font-family: "BioRhyme", serif;
  background-color: #d4d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.admin-moderator-heading {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 20px;
  color: black;
}

.admin-moderator-content {
  display: flex;
  align-items: center;
}

.admin-moderator-form {
  margin-left: 20px;
}

.admin-moderator-buttons {
  display: flex;
  gap: 10px;
}

.admin-moderator-button {
  color: #fff;
  background-color: $primary-color;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

  &.selected {
    background-color: darken($primary-color, 10%);
  }
}

.admin-moderator-input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  color: #fff;
  background-color: $primary-color;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.admin-moderator-error {
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-bottom: 20px;
}

.regular-user-button {
  margin-bottom: 20px;
  color: #fff;
  background-color: #4a148c;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.regular-user-button:hover {
  background-color: darken(#4a148c, 10%);
}

.admin-panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #d4d3d3;
}

.user-list-container,
.admin-moderator-container {
  flex: 1;
  max-width: 50%;
}
