@import url("https://fonts.googleapis.com/css2?family=BioRhyme");

// User list
.btn-custom-delete {
  background-color: #4a148c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.btn-custom-delete:hover {
  background-color: #7e57c2; /* Darker purple background color on hover */
}

.admin-moderator-buttons {
  display: flex;
  margin-bottom: 20px;
  color: white;
}

.admin-moderator-button {
  background-color: #4a148c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-control {
  text-indent: 14px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #4a148c;
  outline: 0;
  box-shadow: none;
}

.form-check-input {
  width: 14px;
  height: 15px;
  margin-top: 5px;
}

.forgot {
  font-size: 14px;
  text-decoration: none;
  color: #4a148c;
}

.btn-primary {
  color: #fff;
  background-color: #4a148c;
  border-color: #4a148c;
}

.btn-primary:hover {
  background-color: #7e57c2;
  border-color: #7e57c2;
  animation: glowingBorder 1.5s infinite alternate;
}

@keyframes glowingBorder {
  0% {
    border-color: #7e57c2;
    box-shadow: 0 0 5px #7e57c2;
  }
  100% {
    border-color: #4a148c;
    box-shadow: 0 0 10px #4a148c;
  }
}

.icon {
  color: #4a148c;
  text-shadow: 0 0 20px rgba(74, 20, 140, 0.8);
}

.errorMessage {
  font-weight: 900;
  color: red;
}

.successMessage {
  font-weight: 900;
  color: green;
}

.small {
  font-size: 12px;
}
